In [49]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [3]:
url = "https://pokemondb.net/pokedex/all"

In [4]:
driver = webdriver.Chrome("C:\webDriver\chromedriver.exe")
driver.get(url)

In [25]:
#names
names = driver.find_elements(By.XPATH, '//td[@class="cell-name"]')

# Type
types = driver.find_elements(By.XPATH, '//td[@class="cell-icon"]')

# Total
totals = driver.find_elements(By.XPATH, '//td[@class="cell-total"]')

# HP
hps = driver.find_elements(By.XPATH, '//td[@class="cell-total"]/following-sibling::td[1]')

# Attack
attacks = driver.find_elements(By.XPATH, '//td[@class="cell-total"]/following-sibling::td[2]')

# Defense
defenses = driver.find_elements(By.XPATH, '//td[@class="cell-total"]/following-sibling::td[3]')

# Sp. Atk
sp_atks = driver.find_elements(By.XPATH, '//td[@class="cell-total"]/following-sibling::td[4]')

# Sp. Def
sp_defs = driver.find_elements(By.XPATH, '//td[@class="cell-total"]/following-sibling::td[5]')

# Speed
speeds = driver.find_elements(By.XPATH, '//td[@class="cell-total"]/following-sibling::td[6]')

In [52]:
pokemon_list = []

In [53]:
for i in range(len(names)):
    pokemon_dict = {
    "name" : names[i].text,
    "type" : types[i].text,
    "total" : totals[i].text,
    "hp" : hps[i].text,
    "attack" : attacks[i].text,
    "defense" : defenses[i].text,
    "sp_atk" : sp_atks[i].text,
    "sp_def" : sp_defs[i].text,
    "speed" : speeds[i].text,
    }
    pokemon_list.append(pokemon_dict)

In [54]:
len(pokemon_list)

1075

In [55]:
df = pd.DataFrame(pokemon_list)

In [56]:
df.head()

,names,types,totals,hps,attacks,defenses,sp_atks,sp_defs,speeds
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65

In [57]:
df["names"] = df["names"].apply(lambda x: x.replace('\n', ' '))
df["types"] = df["types"].apply(lambda x: x.replace('\n', ', '))

In [58]:
df.head()

,names,types,totals,hps,attacks,defenses,sp_atks,sp_defs,speeds
0,Bulbasaur,"GRASS, POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS, POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS, POISON",525,80,82,83,100,100,80
3,Venusaur Mega Venusaur,"GRASS, POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65

In [59]:
df.to_excel('dataset.xlsx', index=False)